name: build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  lib:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - name: Cache deps
        uses: actions/cache@v3.3.1
        with:
          path: node_modules
          key: node-${{ hashFiles('package-lock.json') }}

      - name: Install deps
        run: npm install

      - name: Build lib
        run: npm run build -- --skip-nx-cache

      - name: Check diff
        run: git diff --exit-code HEAD
